body {
    background-color: bisque;
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    
}

.primera-parte {
    display: flex;
    margin-left: 36px;
}