@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: grey;
  margin: 0;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

a:link {
  text-decoration: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.nemu {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.bloque-mayor-uno {
  display: flex;
  width: 100%;
  height: 450px;
  background-color: #1f2937;
}

.bloque-uno {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  justify-content: flex-start;
}

.bloque-uno h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.bloque-uno p {
  color: #e5e7eb;
  font-size: 18px;
}

.bloque-dos {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*solo de prueba*/
img {
  aspect-ratio: 16 / 9;
  width: 75%;
  border: solid salmon 2px;
}

button {
  background-color: #3882f6; /* azulito */
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  align-self: center;
  font-weight: bolder;
}

.bloque-mayor-dos {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-color: #f9f8f9;
}

.bloque-mayor-dos .title {
  padding-top: 8px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.bloque-mayor-dos img {
  width: 200px;
  height: 200px;
}

.bloques-informativos {
  /*background-color: aqua; */
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 50px;
}

.bloque-mayor-tres {
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: center;
  align-items: center;
  background-color: #a8adb8;
}

.frase-completa {
  height: 350px;
  aspect-ratio: 16 / 9;
}

.frase {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.autor {
  text-align: right;
  margin-right: 48px;
  font-weight: bolder;
  font-size: 26px;
}

.bloque-mayor-cuatro {
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bloque-azul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: #3882f6;
  color: white;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  font-size: 24px;
  flex: 3 1 0;
}

.bloque-azul .button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}
/*
  footer {
    background-color: #1f2937;
  }

*/
